// ==========================================================================
// Header Component
// ==========================================================================

@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;
@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as bp;

// Header Variables
$header-width: fn.layout('header-width');
$header-side: fn.layout('header-side');

// ==========================================================================
// Main Header
// ==========================================================================

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: c.color('primary');
  gap: fn.spacing('medium');
  color: c.color('text');
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: $header-width;
  z-index: fn.z('header');
  #{if($header-side == 'right', 'right', 'left')}: 0;
  transform: translateX(if($header-side == 'right', $header-width, -$header-width));
  transition: transform fn.duration('transition') ease;

  &.header-visible {
    transform: translateX(0);
  }

  // Header Content
  > * {
    padding: fn.spacing('small');
  }

  // Avatar
  .avatar {
    margin: fn.spacing('medium');
    // width: 8em;

    img {
      border-radius: 100%;
      width: 100%;
    }
  }

  .header {
    flex-shrink: 1;
  }

  // Navigation
  nav {
    flex-grow: 1;
    overflow-y: auto; // Allow vertical scrolling
    -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS

    @include mx.hide-scrollbar;
    ul {
      list-style: none;
      // margin: fn.spacing('medium') 0;
      padding: 0;

      li {
        padding: fn.spacing('xsmall') 0 fn.spacing('xsmall') 0;
        border-bottom: 2px solid c.color('border');
        &:last-child {
          border: 0 !important;
          // padding: 0 !important;
        }

        a {
          border: 0;
          color: c.color('text');
          display: block;
          font-size: fn.font-size('small');
          font-weight: fn.font-weight('bold');
          letter-spacing: 0.25em;
          // padding: 0.5em 0;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: c.color('accent');
          }
          &.active {
            color: c.color('accent');
          }
        }
      }
    }
  }

  // Footer Icons
  footer {
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    #{if($header-side == 'right', 'right', 'left')}: 0;
    // padding: fn.spacing('medium');
    // position: absolute;
    width: 100%;
    ol,
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        display: inline-block;
        padding-right: fn.spacing('small');
        font-size: fn.font-size('large') * 1.5;
        &:last-child {
          padding-right: 0 !important;
        }
      }
    }
  }
}

// ==========================================================================
// Responsive Header
// ==========================================================================

@include bp.breakpoint('<=xlarge') {
  #header {
    width: fn.layout('header-width') * 0.9;
  }
}

@include bp.breakpoint('<=large') {
  #header {
    width: fn.layout('header-width') * 0.8;
  }
}
