@use "../libs/vars" as *;
@use "sass:map";

.us-tour-container {
  position: relative;
  width: 100%;
  height: 200px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
  }
}
