@use "../libs/vars" as *;
@use "sass:map";

:root {
  --world-land-color: #{map.get($palette, secondary, bg)};
  --world-visited-country-color: #{map.get($palette, accent-1, bg)};
  --world-border-color: #{map.get($palette, tertiary, bg)};
  --world-ocean-color: #{map.get($palette, primary, bg-light)};
  --world-graticule-color: #{map.get($palette, secondary, bg-light)};
  --world-flight-path-color: #{map.get($palette, accent-1, bg-light)};
  --world-transition-duration: 1.5s;
}

.world-tour-container {
  flex: 60%;
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 40px;

  svg {
    width: 100%;
    aspect-ratio: 975/610;
  }

  .sphere {
    fill: var(--world-ocean-color);
  }

  .borders {
    fill: none;
    stroke: var(--world-border-color);
    stroke-width: 0.5px;
  }

  .graticule {
    fill: none;
    stroke: var(--world-graticule-color);
    stroke-opacity: 0.2;
    stroke-width: 0.5px;
  }

  .flight-path {
    pointer-events: none;
  }

  .world-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2em;
    color: #{map.get($palette, primary, bg)};
    transition: color var(--world-transition-duration) ease;
    padding: 10px;

    &.highlight {
      color: #{map.get($palette, accent-1, bg)};
    }
  }
}
