/* Error: Undefined variable.
 *    ,
 * 80 |   @return map.get(c.$semantic-colors, $key);
 *    |                   ^^^^^^^^^^^^^^^^^^
 *    '
 *   assets\sass\abstracts\_functions.scss 80:19  color()
 *   assets\sass\base\_reset.scss 268:22          @use
 *   assets\sass\main.scss 35:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 80 \2502    @return map.get(c.$semantic-colors, $key);\a    \2502                    ^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\sass\\abstracts\\_functions.scss 80:19  color()\a   assets\\sass\\base\\_reset.scss 268:22          @use\a   assets\\sass\\main.scss 35:1                   root stylesheet";
}
